<% include ../src/partials/upper.ejs %>

  <div class="heading">
    <span class="border">CODEFUNDO++ VOTING PORTAL</span>
  </div>
  <div class="effect">
  </div>
</div>
<div class="parallaax" style="background-color: #eee">
    <div class="headd">
      <h2 style="text-align: center;padding-top: 1em;padding-bottom: 0.5em;">Startup Instructions:</h2>
    </div>
    <div class="instt">
      <ul style="padding-left: 10em;padding: 3em 0 5em 9em;">
        <li style="font-size: 20px;">Install MetaMask Extension</li>
        <li style="font-size: 20px;">Click on Custom RPC</li>
        <li style="font-size: 20px;">Add http://xyz.com to network URL</li>
      </ul>
    </div>
</div>
<% include ../src/partials/lower.ejs %>

