<% include ../src/partials/upper.ejs %>

<div class="form-register">
<form action="/verify/<%=data.adhar_id%>" method="POST" class="form-horizontal">
  <div class="form-group" style="padding-bottom: 25px;">
    <label for="inputEmail3" class="col-sm-2 control-label" style="color: #fff">OTP</label>
    <div class="col-sm-10">
      <input type="number" value="OTP" name="OTP" class="form-control" id="inputEmail3" placeholder="Enter your OTP">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default btn-block btn-primary">Submit</button>
    </div>
  </div>
</form>
</div>

<% include ../src/partials/lower.ejs %>