<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>BLOCKCHAIN BASED VOTING SYSTEM</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Serif+JP|Playfair+Display" rel="stylesheet">
</head>
<body>
<div class="main">
  <div class="container nav-cont">
    <div class="row">
      <div class="col-xs-12" style="padding-bottom: 0">
        <div class="icon" id="navadd2">
          <span><a class="nav-class1" onclick="opennav()"><i class="fas fa-bars fa-2x"></i></a></span>
        </div>
        <nav class="default shrink" id="hbutton">
          <div>
              <ul class="navv1">
                <li class="nav-class navadd3" style="padding: 3.5em 10em 2.5em 11em"><a class="nav-class1" href="/register"><b>Register</b></a></li>
                <li class="nav-class navadd3" style="padding: 3.5em 10em 2.5em 12em"><a class="nav-class1" href="/vote"><b>Vote</b></a></li>
                <li class="nav-class navadd3" style="padding: 3.5em 10em 2.5em 10em"><a class="nav-class1" href="/partyVotes"><b>Party Votes</b></a></li>
              </ul>
            </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="cc1" style="width: 100%;height: -webkit-fill-available;height: -moz-fill-avaliable;height: -o-fill-avaliable;" id="scrolled">